.footer {
  max-height: 610px;

  &-part {

    &__top {
      max-height: 430px;
      box-sizing: border-box;
      background-color: #253957;
    }

    &__bottom {
      max-height: 180px;
      background-color: $blue;
    }

    &-inner {
      display: flex;
      height: 100%;

      .call-footer {
        position: absolute;
        display: flex;
        align-items: center;
        right: 360px;
        bottom: -2190px;
        max-width: 280px;
        height: 55px;
        background-color: $blue;
      }
    }
  }

  &-list {
    list-style: none;

    li {
      line-height: 2;
      font-size: 13px;

      .list-head {
        color: $orange;
        margin-bottom: 20px;
      }

      .post-address {
        font-family: $ProximaNova;
        font-weight: 700;
        color: $white;
        margin: 40px 0 20px 0;
      }

      a:hover {
        color: yellow;
        transition: 0.15s;
      }
    }
  }

  &__call-button {
    width: 60px;
    height: 55px;
    background: url("../images/call-phone.png") no-repeat 50% 50% $orange;
    transition: 0.15s;

    &:hover {
      background-color: $dark-orange;
      transition: 0.15s;
    }
  }

  &__call-number {
    font-family: $ProximaNova;
    font-size: 25px;
    font-weight: 700;
    color: $white;
    padding: 18px 30px;
  }
}


.list-average {
  height: 100%;
  width: calc(100% / 3);
  padding: 50px 50px 70px 0;
  border-right: 1px solid $board2;
  margin: 0;
  box-sizing: border-box;
}

.list-small {
  height: 100%;
  max-width: 240px;
  margin: 0;
  padding: 50px 50px 175px 50px;
  border-right: 1px solid $board2;
  box-sizing: border-box;
}

.list-large {
  height: 100%;
  max-width: calc(100% - 620px);
  padding: 50px 50px 90px 50px;
  margin: 0;
  box-sizing: border-box;
}

.post-scriptum {
  padding: 25px 0 120px 0;
  font-family: $ProximaNova;
  font-size: 13px;
  font-weight: 700;
  color: #59759c;
}