.header {
  position: relative;
  height: 1030px;
  background-color: #ecedf1;
  overflow: hidden;

  &:before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100%;
    background: url("../images/mountains.png") no-repeat 50% 100%;
    z-index: 1;
  }

  &__head {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    z-index: 3;

    &_profile {
      padding-bottom: 30px;
    }

    &_logo {
      .logo-link:hover{
        filter: brightness(0.7);
        transition: 0.15s;
      }
    }
  }

  &__head-phone {
    position: relative;
    display: flex;
    height: 55px;
    align-items: center;
    background: #ffffff;

    .email {
      position: relative;
      width: auto;
      text-align: end;
      padding-right: 55px;
      margin-left: 700px;
      font-size: 14px;
      font-weight: 700;
      border: none;
      font-family: $ProximaNova;
      box-sizing: border-box;
      color: #83969f;
      z-index: 2;

      &:hover {
        color: $darkblue;
        transition: 0.15s;
      }
    }

    .phone {
      position: relative;
      display: flex;
      align-items: center;
      width: calc(100% - 900px);
      background-color: $blue;

      &:before {
        content: '';
        position: absolute;
        width: 100vw;
        height: 100%;
        background-color: $blue;
      }

      &__button {
        width: 60px;
        height: 55px;
        border: none;
        background: url("../images/call-phone.png") no-repeat 50% 50% #de9e20;
        z-index: 1;
        transition: 0.5s;

        &:hover {
          background-color: $orange;
          transition: 0.5s;
        }
      }

      &__number{
        height: 100%;
        font-family: $ProximaNova;
        font-size: 25px;
        font-weight: 700;
        color: $white;
        padding-left: 30px;
        z-index: 1;
      }
    }
  }

  &__footer {
    position: relative;
    height: 100%;
    background-color: $orange;

    &:before {
      content: '';
      position: absolute;
      width: 100vw;
      height: 100%;
      background-color: $orange;
    }

    .navigation {
      position: relative;
      display: flex;
      align-items: center;
      height: 90px;
      box-sizing: border-box;
      z-index: 2;

      &__list {
        display: flex;
        padding: 0;
        margin: 0;
        list-style: none;

        &_paragraph {
          font-family: $ProximaNova;
          font-weight: 700;
          color: #ffffff;
          padding-left: 35px;

          .link-nav {
            &:hover {
              color: $darkblue;
            }

            &__img:hover{
              filter: brightness(0.4);
            }
          }
        }
      }
    }

    .teaser {
      position: relative;
      display: flex;
      flex-direction: column;
      float: right;
      margin-top: 80px;
      color: $white;
      z-index: 2;

      &__title {
        font-family: $Raleway;
        font-size: 40px;
        font-weight: 300;
      }

      &__description {
        font-family: $ProximaNova;
        font-size: 20px;
        font-weight: 700;
      }
    }
  }
}

