.last-news {
  display: flex;
  width: 100%;
  height: 545px;
}

.article-size {
  width: calc(100% / 3);
  height: 100%;
}

.general-head {
  display: flex;
  justify-content: center;
  height: 60px;
  width: 100%;
  padding: 25px;
  font-family: $ProximaNova;
  font-size:  14px;
  font-weight: 700;
  box-sizing: border-box;
  border-bottom: 1px solid #ede9e9;

  &:after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 34px;
    right: 0;
    border-bottom: 1px solid #ede9e9;
  }
}

.news {
  height: 100%;
  border-right: 1px solid #ede9e9;

  &__preview {
    padding:  50px 30px 50px 0;
  }
}

.blog__preview {
  padding: 50px 30px;
}

.blog__head, .videos__head {
  justify-content: flex-start;
  margin: 0;
}

.chapter-link {
  color: $lightbluegrey;
}

.news__preview_link_head,
.blog__preview_link_head {
  font-family: $ProximaNova;
  color: $orange;
  font-weight: 500;
}

.news__preview_link_head:hover,
.blog__preview_link_head:hover {
  color: $dark-orange;
  transition: 0.15s;
}

.news__preview_description,
.blog__preview_description {
  margin: 5px 0 5px 0;
  font-family: $ProximaNova;
  color: $darkblue;
  font-size: 14px;
  font-weight: 600;
}

.news__preview_data,
.blog__preview_data {
  font-family: $ProximaNova;
  font-style: italic;
  font-weight: 500;
  font-size: 14px;
  color: $lightgrey;
}

.blog_head {
  padding-left: 50px;
}

.base-video {
  height: calc(100% - 60px);

  &__video-img {
    width: 100%;
    padding: 10px 40px 0 10px;
    box-sizing: border-box;
  }

  &__stroke {
    position: absolute;
    display: flex;
    align-items: center;
    bottom: -1700px;
    right: 420px;
    color: #ffffff;

    &:nth-child(2) {
      bottom: -1480px;
      right: 480px;
    }

    &_button {
      padding-right: 10px;
    }

    &_description {
      font-family: $ProximaNova;
      font-size: 16px;
      font-weight: 700;
    }
  }
}