.mainly__main-content {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  max-height: calc(100% - 545px);
  z-index: 1;
  
  &::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 795px;
    background-color: $milkgrey;
  }
}

.enrollment {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: calc(100% / 3 * 2);
  height: 105px;
  font-family: $ProximaNova;
  font-size: 20px;
  background-color: $lightgrey;
  z-index: 1;

  &:before {
    content: '';
    position: absolute;
    width: 100vw;
    height: 100%;
    background-color: $lightgrey;
  }

  &__paragraph {
    position: relative;
    padding-right: 195px;
    z-index: 1;

    &_link{
      font-weight: 300;
      text-decoration: underline;

      &:hover {
        color: yellow;
        transition: 0.15s;
      }
    }
  }

  &__img{
    position: relative;
    z-index: 1;
    padding-right: 55px;
    box-sizing: border-box;
  }
}

.contact-us {
  position: absolute;
  right: 0;
  top: -315px;
  display: flex;
  flex-direction: column;
  width: calc(100% / 3);
  height: 420px;
  background-color: $blue;
  z-index: 3;

  &__content {
    display: flex;
    flex-direction: column;
    padding: 50px 60px;
    width: 100%;
    height: 100%;
    color: $white;
    box-sizing: border-box;

    &_head {
      font-family: $Raleway;
      font-size: 24px;
      font-weight: 500;
    }

    &_description {
      font-family: $ProximaNova;
      font-size: 14px;
      font-weight: 600;
      color: #d0ddf2;
      margin: 10px 0 25px 0;
    }

    .field {
      &__name, &__number {
        font-family: $Raleway;
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 5px;
      }

      &__input-name, &__input-number {
        height: 45px;
        width: 100%;
        margin-bottom: 15px;
        padding-left: 15px;
        border-radius: 3px;
        border: none;
        box-sizing: border-box;
      }

      &__button {
        width: 100%;
        height: 50px;
        border-radius: 3px;
        border: none;
        font-family: $ProximaNova;
        font-size: 14px;
        font-weight: 600;
        color: $white;
        background-color: $orange;
        transition: 0.15s;

        &:hover {
          background-color: darken($orange, 10%);
          transition: 0.15s;
        }

        &_button-img {
          padding-left: 5px;
        }
      }
    }
  }
}

.articles {
  position: relative;
  display: flex;
  width: 100%;
  height: 490px;
  margin: 0;
  padding: 0;
  color: #63727a;
}

.article {
  width: calc(100% / 3);
  height: 100%;
  padding: 40px;
  box-sizing: border-box;
  user-select: none;
  transition: 0.5s;

  &:first-child {
    background-color: $white;
  }

  &__head {
    font-family: $OpenSans;
    font-size: 20px;
    font-weight: 500;
  }

  &__description {
    margin-top: 30px;
    font-family: $ProximaNova;
    font-size: 14px;
    font-weight: 600;
    line-height: 28px;
  }

  &__link {
    position: relative;
    bottom: -60px;
    padding: 20px 40px;
    background-color: $orange;
    border-radius: 4px;
    font-family: $ProximaNova;
    font-size: 14px;
    font-weight: 700;
    transition: 0.15s;

    &:hover {
      background-color: darken($orange, 15%);
      transition: 0.15s;
    }

    &_img {
      padding-left: 10px;
    }
  }

  &__list {
    margin-top: 30px;
    padding-left: 20px;
    list-style-image: url("../images/circle-ul.png");

    &_li {
      color: $darkblue;
      font-family: $ProximaNova;
      font-size: 14px;
      font-weight: 700;

      &:not(:last-child) {
        margin-bottom: 18px;
      }
    }
  }
}

.player {
  width: calc(100% / 3);
  height: 100%;
  background-color: $white;

  &__video {
    position: relative;
    width: 100%;
  }

  &__stroke {
    position: absolute;
    display: flex;
    bottom: 270px;
    right: 50px;
    align-items: center;
    color: $white;

    &_description,
    &_button {
      z-index: 2;
    }

    &_button {
      margin-right: 15px;
    }

    &_description {
      font-family: $ProximaNova;
      font-size: 16px;
      font-weight: 700;
    }
  }

  &__description {
    font-family: $ProximaNova;
    font-size: 14px;
    font-weight: 600;
    color: #61757f;
    line-height: 1.8em;
    padding: 35px;
  }
}

.offers {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  height: calc(100% - 595px);

  &__sentence {
    display: flex;
    width: calc(100% / 3);
    height: 50%;
    background-color: $blue;
    padding: 30px 40px;
    box-sizing: border-box;
    color: #fafdfd;

    &:nth-child(1),
    &:nth-child(6) {
      background-color: #3a557c;
    }

    &:nth-child(2) {
      background-color: #466289;
    }

    &:nth-child(3) {
      background-color: #253957;
    }

    &:nth-child(4) {
      background-color: #516e96;
    }

    &:nth-child(5) {
      background-color: #4771af;
    }
  }

  .sentence-preview {
    display: flex;
    flex-direction: column;

    &__link_head:hover {
      color: yellow;
      transition: 0.15s;
    }
  }

  .sentence_img {
    height: 50%;
    margin-left: 50px;
  }
}











