$blue: #344d71;
$darkblue: #324a6d;
$white: #ffffff;
$orange: #f6b431;
$dark-orange: #de9e20;
$lightgreen: #4bf65b;
$lightgrey: #ced1d6;
$milkgrey: #ecedf1;
$lightorange: #fbe1ad;
$lightbluegrey: #63727a;
$board1: #ede9e9;
$board2: #344d71;

$OpenSans: "Open Sans", "Arial", "Helvetica", sans-serif;
$ProximaNova: 'Proxima Nova', 'Arial', 'Helvetica', sans-serif;
$Raleway: 'Raleway', 'Arial', 'Helvetica', sans-serif;

$imagesPath: '~static/images';

// easings
$bounce: cubic-bezier(0.68, -0.55, 0.265, 1.55);
$easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeOutCubic: cubic-bezier(0.215, 0.61, 0.355, 1);
$easeInQuart: cubic-bezier(0.895, 0.03, 0.685, 0.22);
$easeOutQuart: cubic-bezier(0.165, 0.84, 0.44, 1);
$easeInCubic: cubic-bezier(0.55, 0.055, 0.675, 0.19);
$easeOutSine: cubic-bezier(0.39, 0.575, 0.565, 1);